{% extends "base.html" %}

{% block title %}{{ article.title }}{% endblock %}

{% block content %}
<!-- Main -->
	<div id="main-wrapper">
		<div class="container">
			<div id="content">

				<!-- Content -->
                <article>
                    <center><p>
                            {% if article.prev_article %}
                            <a href="{{ SITEURL }}/{{ article.prev_article.url}}">
                                Tópico anterior: {{ article.prev_article.title }}
                            </a>
                            {% endif %}
                            {% if article.prev_article and article.next_article %}
                            &nbsp;&nbsp;|&nbsp;&nbsp;
                            {% endif %}
                            {% if article.next_article %}
                            <a href="{{ SITEURL }}/{{ article.next_article.url}}">
                                Próximo tópico: {{ article.next_article.title }}
                            </a>
                            {% endif %}
                    </p></center>

                    {{ article.content }}

                </article>

			</div>
		</div>
	</div>
{% endblock content %}
