{% extends "base.html" %}

{% block title %}{{ category }}{% endblock title %}

{% block content %}
<!-- Main -->
	<div id="main-wrapper">
		<div class="container">
			<div id="content">

				<!-- Content -->
					<article>

                        <h1>{{ category }}</h1>

                        <ul>
                            {% for article in articles|sort(attribute='sortorder') %}
                            <li><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></li>
                            {% endfor %}
                        </ul>

					</article>

			</div>
		</div>
	</div>
{% endblock content %}
