{% extends "base.html" %}

{% block content %}
<!-- Banner -->
	<div id="banner-wrapper">
		<div id="banner" class="box container">
			<div class="row">
				<div class="7u 12u(medium)">
					<h2>Olá!</h2>
					<p>Esse espaço foi planejado para você aprender Cálculo.</p>
				</div>
				<div class="5u 12u(medium)">
					<ul>
						<li><a href="#" class="button big icon fa-arrow-circle-right">Começar</a></li>
                        <li><a href="{{ SITEURL }}/#main-wrapper" class="button alt big icon fa-question-circle">Informações</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

<!-- Features -->
	<div id="features-wrapper">
		<div class="container">
			<div class="row">
                {% for article in articles_page.object_list  %}
				<div class="4u 12u(medium)">

					<!-- Box -->
						<section class="box feature">
                            <a href="{{ SITEURL }}/{{ article.url }}" class="image featured"><img src="{{ SITEURL }}/images/thumb/{{ article.thumb }}" alt="" /></a>
							<div class="inner">
								<header>
                                    <h2>{{ article.title }}</h2>
                                    <p>{{ article.subtitle }}</p>
								</header>
                                <p>{{ article.summary }}</p>
							</div>
						</section>

				</div>
                {% endfor %}
			</div>
		</div>
	</div>

<!-- Main -->
	<div id="main-wrapper">
		<div class="container">
			<div class="row 200%">
				<div class="12u 12u(medium) important(medium)">

					<!-- Content -->
						<div id="content">
							<section class="last">
								<h2>O que você vai encontrar aqui?</h2>
                                {% for page in pages %}
                                    {% if page.slug == "sobre-o-projeto" %}
                                        <p>{{ page.summary }}</p>
                                    {% endif %}
                                {% endfor %}
                                <a href="{{ SITEURL }}/info/sobre-o-projeto.html" class="button icon fa-arrow-circle-right">Continue lendo</a>
							</section>
						</div>

				</div>
			</div>
		</div>
	</div>
{% endblock %}
